version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres-container
    environment:
      POSTGRES_DB: notesapp
      POSTGRES_USER: lrdluffy
      POSTGRES_PASSWORD: luffyPass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: springboot-app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/notesapp
      SPRING_DATASOURCE_USERNAME: lrdluffy
      SPRING_DATASOURCE_PASSWORD: luffyPass
    restart: on-failure

volumes:
  postgres_data:
